<header>
  <nav>
    <p id="logo">My Face</p>
    <div class="links">
      <a href="/users/1">Home</a>
      <a href="/users">Users</a>
      <a href="/posts">Posts</a>
      <a href="/posts/create">+New Post</a>
    </div>
  </nav>

  <button id="sideNavButton" style="font-size: 20px; cursor: pointer">
    &#9776;
  </button>
  <div id="mysidenav">
    <button id="closeSideNavButton">&times;</button>
    <a href="/users/1">Home</a>
    <a href="/users">Users</a>
    <a href="/posts">Posts</a>
    <a href="/posts/create">+New Post</a>
  </div>
</header>
