<header>
    <nav>
        <p class="logo"> My Face </p>
        <div class = "centerlinks">
            <a href="/posts">Home</a>
            <a href="/users">Users</a> 
            <a href="/posts">Posts</a>
        </div>
        <div class = "sideLinks">
            <a href="/posts/create">+New Post</a>
        </div>
    </nav>
</header>