/* Add your styles here. */
body{
    background-color: #65CCB8;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

h1{
  color: #182628;
  font-size: 50px;
  font-weight:bold;
  padding: 15px;
}

li {
    border-style: solid;
    border-width: medium;
    border-color: #F2F2F2 ;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

li footer{
    font-size: 15px;
    color: BLACK;

}

li .button-container{
  display: inline-block;
  gap: 10px;
 
}
button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  }

button:hover,
button:focus {
  background-color: #F082AC;
}

p {
  font-size: 15px;
  color: #0D1B2A;
  padding-left: 5px;
}


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}


